* {
    font-family: "Literata", monospace;
    text-align: center;
}

body {
    color: #ffffff;
    background: #222222;
    margin: 16px;
    font-weight: 500;
}

a {
    color: #b0bec5;
}

img.avatar {
    width: 256px;
    border-radius: 50%;
    margin: 8px;
}

p.answer {
    font-size: 1.5em;
    font-weight: bolder
}

hr {
    width: 50%;
}

button {
    padding: 8px;
    margin: 8px;
}

footer {
    font-size: small;
    margin: 8px;
}